<!DOCTYPE html>
<html>
<%- include('includes/head') %>

    <body>
        <main>
            <h1>Welcome, <%= user.username %>
            </h1>
            <% if (errors && errors.length) { %>
                <div class="error">
                    <ul>
                        <% errors.forEach(function(error) { %>
                            <li>
                                <%= error %>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <% } %>

                    <form action="/profile" method="POST" accept-charset="UTF-8">
                        <input type="text" name="fullName" placeholder="Full Name"
                            value="<%= profile?.fullName || '' %>" /><br />
                        <textarea name="bio" placeholder="Your bio here..."><%= profile?.bio || '' %></textarea><br />
                        <button type="submit">Save Profile</button>
                    </form>
                    <a href="/">Back to Dashboard</a>

        </main>
        <%- include('includes/footer') %>

    </body>

</html>